.review{
    display: flex;
    justify-content: center;

    .review-container{
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        border-bottom: 1px solid lightgray;

        .left{
           
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }

        .review-right{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .country{
                color: gray;
                font-size: 14px;
            }
            
            .stars{
                display: flex;
                align-items: center;
                .stars-details{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                
                    img{
                        width: 15px;
                        height: 15px;
                    }
                
                    span{
                        font-weight: 500;
                        font-size: 14px;
                    }
            }
            .ago{
                span{
                    color: gray;
                }
            }
            }

            .helpful{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;

                .yes,.no{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        width: 15px;
                        cursor: pointer;
                    }

                }
            }


        }
    }
}
