.gigs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 90px;
    padding-top: 50px;

    .breadcrumbs{
        font-size: 12px;
        font-weight: 500;
    }

    .desc{
        color: gray;
    }
  }

  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        
        span{
            font-size: 14px;
            font-weight: 500;
        }
        input{
            outline: none;
            padding: 5px;
            border: 1px solid lightgray;

            &::placeholder{
                color: gray;
            }
        }

        button{
            background-color: #1DBF73;
            padding: 5px 10px;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .right{
        display: flex;
        align-items: center;
        position: relative;
        gap: 5px;

        .sortBy{
            font-size: 12px;
            font-weight: 500;
            color: gray;
        }

        .sortType{
            font-weight: 500;
            font-size: 16px;
        }

        img{
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        .rightMenu{
            background-color: white;
            position: absolute;
            top: 20px;
            right: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;

            span{
                font-size: 14px;
            }
        }
    }
  }
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
